.root {
    -fx-background-color: #272727;
}

#protoboardShape {
    -fx-fill: #ebebeb;
}

.button {
    -fx-background-color: #fff;
    -fx-text-fill: #454545;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.custom-content {
    -fx-fill: gray;
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}